<h1>Movie Logへようこそ</h1>

<% if current_user %>
こんにちは、<%= current_user.name %> さん！<br>
<%= link_to 'あなたの登録した映画を見る', mypage_path %>
<% else %>
自分の見た映画を登録するためには<%= link_to '会員登録', new_user_path %>が必要です
<% end %>


<h2>新着の映画</h2>
最近上映された順に5件表示します。
<br><br>

<% if @movies.empty? %>
  最近の映画はありません
<% else %>
  <% @movies.each do |movie| %>
  <table border="1">
    <tr><td><%= link_to image_tag('rails.png', {:border => '0'}), movie_path(movie.id) %></td></tr>
    <tr><td><%= movie.title %></td></tr>
  </table>
  <br>
  <% end %>
<% end %>

<h3><%= link_to '登録されている映画一覧へ', movies_path %></h3>
<h3><%= link_to '登録ユーザ一覧', users_path %></h3>
