<h1>映画一覧</h1>

<div>
登録されている全ての映画情報がここに表示される
</div>

<%= paginate @movies, :windows => 4, :outer_window => 2 %>
並び替え
<%= link_to '▼タイトル', movies_sort_path("title") %>/
<%= link_to '▼カテゴリ', movies_sort_path("category_id") %>/
<%= link_to '▼公開日', movies_sort_path("released_at") %>

<% if @movies.empty? %>
  現在,映画はありません
<% else %>
  <%= render 'shared/movie_list' %>
<% end %>