<h1>映画詳細画面</h1>

<div>
映画の詳細情報が表示される
</div>

<% if notice %>
<p id="notice"><font color="red"><%= notice %></font></p>
<% end %>

<p>
<%= button_to "観たい!", :controller => "user_movie_states", :action => "register", :state_id => 1, :movie_id => @movie.id %>
<%= button_to "観た!",  :controller => "user_movie_states", :action => "register", :state_id => 2, :movie_id => @movie.id %>
<%= button_to "未分類",  :controller => "user_movie_states", :action => "register", :state_id => 0, :movie_id => @movie.id %>
</p>

<table border="1">
  <tr>
    <td>id</td>
    <td><%= @movie.id %></td>
  </tr>
  <tr>
    <td>タイトル</td>
    <td><%= @movie.title %></td>
  </tr>
  <tr>
    <td>説明</td>
    <td><%= @movie.description %></td>
  </tr>
  <tr>
    <td>カテゴリID</td>
    <td><%= @movie.category_id %></td>
  </tr>
  <tr>
    <td>画像URL</td>
    <td><%= @movie.image_url %></td>
  </tr>
  <tr>
    <td>画像の枚数</td>
    <td><%= @movie.image_num %></td>
  </tr>
  <tr>
    <td>サムネイル画像のURL</td>
    <td><%= @movie.thumbnail_url %></td>
  </tr>
  <tr>
    <td>映画公開日</td>
    <td><%= @movie.released_at %></td>
  </tr>
  <tr>
    <td>作成日時</td>
    <td><%= @movie.created_at %></td>
  </td>
  <tr>
    <td>更新日時</td>
    <td><%= @movie.updated_at %></td>
  </tr>
</table>

<h1>レビュー</h1>
<%= paginate @reviews, :window => 4, :outer_window => 2 %>
<% @reviews.each do |review| %>
<table border="1">
  <tr>
    <td>映画ID(仮)</td>
    <td><%= review.movie_id %></td>
  </tr>
  <tr>
    <td>評価</td>
    <td><%= review.rate %></td>
  </tr>
  <tr>
    <td>コメント</td>
    <td><%= review.comment %></td>
  </tr>
  <tr>
    <td>ネタバレ</td>
    <td><%= review.spoiler_flag %></td>
  </tr>
  <tr>
    <td>作成日時</td>
    <td><%= review.created_at %></td>
  </tr>
  <tr>
  <tr>
    <td>更新日時</td>
    <td><%= review.updated_at %></td>
  </tr>
  <tr>
    <td>ユーザーID(仮)</td>
    <td><%= review.user_id %></td>
  </tr>
</table>
<% end %>



<p><%= link_to 'この映画のレビューを投稿する', new_movie_review_path(@movie) %></p>

<p><%= link_to '一覧に戻る', movies_path %></p>
