<h1>ユーザ一覧</h1>

<div>
登録されているユーザ一覧をここに表示
</div>

<% @users.each do |user| %>
<table border="1">
  <tr>
    <td>ユーザ名</td>
    <td><%= user.name %></td>
  </tr>
  <tr>
    <td>ニックネーム</td>
    <td><%= user.nickname %></td>
  </tr>
  <tr>
    <td>メールアドレス</td>
    <td><%= user.email %></td>
  </tr>
  <tr>
    <td>アイコンURL</td>
    <td><%= user.icon_url %></td>
  <tr>
    <td colspan ='2'>
      <%= link_to '詳細画面へすすむ', user_path(user.id) %>
    </td>
  </td>
</table>
<% end %>

