<h1>レビュー詳細画面</h1>

<div>
レビュー詳細情報が表示される
</div>

<table border="1">
  <tr>
    <td>映画id(仮)</td>
    <td><%= @review.movie_id %></td>
  </tr>
  <tr>
    <td>評価</td>
    <td><%= @review.rate %></td>
  </tr>
  <tr>
    <td>コメント</td>
    <td><%= @review.comment %></td>
  </tr>
  <tr>
    <td>ネタバレ</td>
    <td>
      <%= @review.spoiler_flag %>
    </td>
  </tr>
  <tr>
    <td>ユーザーID(仮)</td>
    <td>
      <%= @review.user_id %>
    </td>
  </tr>
</table>

<p><%= link_to '映画詳細の戻る', { controller:"movies", action:"show", id: @review.movie_id }%></p>
