<!DOCTYPE html>
<html>
<head>
  <title>Movielog</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= link_to 'トップへ', root_path %> |
<% if current_user %>
  <%= link_to 'マイページ', mypage_path %> |
  <%= link_to 'ログアウト', logout_path, :method => :delete %> 
<% else %>
  <%= link_to 'ログイン', login_path %> |
  <%= link_to '会員登録', new_user_path %> 
<% end%>

<%= form_tag :search_movie, method: :get do %>
<p><%= text_field_tag "movie_q", params[:movie_q], :placeholder => '映画を検索' %>
<%= submit_tag "映画を検索" %></p>
<% end %>

<%= form_tag :search_user, method: :get do %>
<p><%= text_field_tag "user_q", params[:user_q], :placeholder => 'ユーザを検索' %>
<%= submit_tag "ユーザを検索" %></p>
<% end %>

<hr>

<%= yield %>

<hr>
<%= link_to 'トップへ', root_path %> | presented by Team Toraemon.
</body>
</html>
