<!DOCTYPE html>
<html>
<head>
  <title>Movielog</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= link_to 'トップへ', root_path %> | <%= link_to 'マイページ', mypage_path %>
<hr>

<%= yield %>

<hr>
<%= link_to 'トップへ', root_path %>
</body>
</html>
